.tabs {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

.tab {
    flex: 1 0 180px;
}

@media (max-width: 768px) {
    .tab {
        flex: 1 0 160px;
    }
}